<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Evaluacion de Desempeño</title>
    </head>
    <body>
        <div>@RenderBody()</div>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
